<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AgregarAlumnoServlet</servlet-name>
        <servlet-class>com.ipn.mx.controlador.carrera.AgregarAlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarServletAlumno</servlet-name>
        <servlet-class>com.ipn.mx.controlador.carrera.AgregarServletAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarDatosAlumno</servlet-name>
        <servlet-class>com.ipn.mx.controlador.carrera.ActualizarDatosAlumno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgregarAlumnoServlet</servlet-name>
        <url-pattern>/AgregarAlumnoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarServletAlumno</servlet-name>
        <url-pattern>/AgregarServletAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarDatosAlumno</servlet-name>
        <url-pattern>/ActualizarDatosAlumno</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
